{% extends './base/base.html' %}
{% block title %}Login{% endblock %}

  {% block customIco %}
    <link rel="icon" type="image/icon" href="{{ url_for('static', filename='ico/circle.ico') }}">
  {% endblock %}

  {% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  {% endblock %}

  {% block body %}

    {% from "./macros/macroLogin.html" import render_field %}

      <form class="classFrom" name="sendMessage" id="contactForm" method="POST" action="/login">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                  {% for message in messages %}
                    <strong>{{ message }}</strong>
                  {% endfor %}
              {% endif %}
          {% endwith %}

<!-- Nombre -->
          <div class="formulario__grupo" id="grupo__user">
              <label for="username" class="formulario__label">Usuario</label>
                <div class="formulario__grupo-input" id="formulario__grupo-input">
                  <input type="text" name="username" id="username" placeholder="Username" class="formulario__input_user">
                  <i class="formulario__validacion-estado_user fa-solid fa-circle-xmark"></i>
                </div>
             <p class="formulario__input-error_user">El usuario puede ser de 4 a 16 digitos</p>
          </div>

<!-- Password -->

          <div class="formulario__grupo" id="grupo__user">
            <label for="password" class="formulario__label">Contraseña</label>
              <div class="formulario__grupo-input">
                <input type="password" name="password" id="password" placeholder="Password" class="formulario__input_pass">
                <i class="formulario__validacion-estado_pass fa-solid fa-circle-xmark"></i>
              </div>
          <p class="formulario__input-error_pass">El password puede ser de 4 a 16 digitos</p>
          </div>

<!-- Cartelito de Advertencia del Error -->

          <div class="advertenciaLogin"id="advertenciaLogin">
                <p class="advertencia">
                  <i class="fa-solid fa-triangle-exclamation"></i>
                  <b>Error: </b>Complete los campos.</p>
          </div>

          <div class="contenedorSession">
               <label class="labelSession" for="mantenerSession"><input type="checkbox" name="mantenerSession" id="mantenerSession" class="mantenerSession"> Mantener la session iniciada</label>
          </div>

          <div class="formulario__grupo boton__enviar">
            <button class="boton" type="submit">Ingresar</button>
            <p class="formulario__mensaje-exito"><b>El Formulario se envio correctamente</b></p>
          </div>
          <div>
            <p class="message">¿No está registrado? <a href="register" id="crearCuenta" onclick="">Crear una cuenta</a></p>
          </div>
      </form>
      
  {% endblock %}
  {% block customScript %}
      <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  {% endblock %}

