@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
    background: #0a4d50; 
    background: linear-gradient(90deg, rgb(0, 60, 85) 0%, rgb(17, 49, 63) 50%);
    font-family: "Acme", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(0, 17, 32); 
    font-size: 18px;
    font-weight: 600;
  }

.cabecera{
  grid-area: header;
  background-color: antiquewhite;
}
.barraNav{
  grid-area: nav;
  background-color: #0a3650;
}
.contenido{
  grid-area: contenido;
  background-color: rgb(250, 215, 231);
}
.side{
  grid-area: sidebar;
  background-color: blanchedalmond;
}
.ad{
  grid-area: ad;
  background-color: beige;
}
.pie{
  grid-area: pie;
  background-color: azure;
}



.contenedor{
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  "header"
  "nav"
  "contenido"
  "sidebar"
  "ad"
  "pie";
}


.ul-lista{
  padding: 0;
  display: flex;
}
.lista{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: aliceblue;
  height: 30px;
  line-height: 20px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  flex: auto;

}
.link{
  color: #222;
  text-decoration: none;
}

@media (min-width:500px){
  .contenedor{
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "sidebar contenido"
    "ad pie";
  }
}
@media (min-width:700px){
  .contenedor{
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "sidebar contenido ad"
    "pie pie pie";
  }
}